<h4>Recomendaciones</h4>
<hr>
<div class="table-responsive mt-xs">
  <table class="table">
    <thead>
      <tr>
        <th>Operación</th>
        <th>Parámetros</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td rowspan="2">Cambiar Correa de Distribución</td>
        <td>cuando alcance los <strong>160,000.00 km</strong></td>
      </tr>
      <tr>
        <td>cuando transcurra <strong>1 año</strong> desde el último</td>
      </tr>
      <tr>
        <td rowspan="2">Cambiar filtro de aceite del motor</td>
        <td>cuando alcance los <strong>160,000.00 km</strong></td>
      </tr>
      <tr>
        <td>cuando transcurra <strong>2 año</strong> desde el último</td>
      </tr>
    </tbody>
  </table>
</div>