<div class="row">
    <div class="col-md-6"><h4>Historial</h4></div>
    <div class="col-md-6" style="margin-top: 18px">
        <select class="form-control" [(ngModel)]="currentFilter">
            <option value="">Todos</option>            
            <option *ngFor="let category of categories" 
                    [value]="category.name">{{ category.name }}</option>
        </select>
    </div>
</div>
<hr>
<div class="mt-xs table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Operación</th>
                <th>Kilometraje</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="maintenanceHistory.length === 0">
                <td colspan="3" class="text-muted text-center">No tiene mantenimientos</td>
            </tr>
            <tr *ngFor="let maintenance of maintenanceHistory" [hidden]="filterMaintenance(maintenance)">
                <td>{{ maintenance.date || '---' }}</td>
                <td>{{ maintenance.category.name }}</td>
                <td>{{ maintenance.mileage || '---' }}</td>
            </tr>

        </tbody>
    </table>
</div>