<h4>Historial</h4>
<hr>
<div class="mt-xs table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Operación</th>
        <th>Kilometraje</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>28-10-2018</td>
        <td>Cambiar Correa de Distribución</td>
        <td>154,000.00</td>
      </tr>
        <tr>
          <td>28-12-2017</td>
          <td>Cambiar filtro de aceite del motor</td>
          <td>159,560.00</td>
        </tr>
          <tr>
            <td>06-10-2017</td>
            <td>Cambiar filtro de aire</td>
            <td>145,078.00</td>
          </tr>
    </tbody>
  </table>
</div>