<h4>Información Principal</h4>
<hr>
<div class="row mt-xs">
    <div class="col-md-12" *ngIf="isCompany">
        <strong>Nombre y Apellidos del contacto</strong>
        <p>{{ fullname }}</p>
    </div>
    <div class="col-md-6" *ngIf="isCompany">
        <strong>Cargo Laboral</strong>
        <p>{{ client.position || '---' }}</p>
    </div>
    <div class="col-md-6" *ngIf="isCompany">
        <strong>Correo Electrónico</strong>
        <p>{{ client.email }}</p>
    </div>    
    <div class="col-md-6">
        <strong>DNI / NIF</strong>
        <p>{{ client.dni || '---' }}</p>
    </div>
    <div class="col-md-6" *ngIf="client.linkedTo && client.linkedToIsVisible">
        <strong>Vinculado a</strong>
        <p>{{ client.linkedTo }}</p>
    </div>    
    <div class="col-md-12">
        <strong>Razón Social</strong>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.</p>
    </div>
    <div class="col-md-12">
        <strong>Observaciones</strong>
        <p>{{ client.observations || '---' }}</p>
    </div>
</div>