<div class="loader-box" [ngStyle]="{'display': display}">
    <div class="cdk-overlay-backdrop cdk-overlay-backdrop-showing cdk-overlay-transparent-backdrop"></div>
    <div id="pb_loader" class="show">
        <svg class="circular" width="48px" height="48px">
            <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
            <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#2c3e50"/>
        </svg></div>
</div>