<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" (click)="isCollapsed = !isCollapsed" data-toggle="collapse" data-target="#navbar-collapse-01">
                        <span class="sr-only">Toggle navigation</span>
                    </button>
                    <a class="navbar-brand" routerLink="/">
                        <img src="./assets/img/logo.png" class="img-responsive logo">
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<div class=" navbar-default">
    <div class="container">
        <nav class="navbar" role="navigation">
            <!-- <div class="navbar-header">
                <button type="button" class="navbar-toggle" (click)="isCollapsed = !isCollapsed" data-toggle="collapse" data-target="#navbar-collapse-01">
                    <span class="sr-only">Toggle navigation</span>
                </button>
            </div> -->
            <div class="collapse navbar-collapse" [ngClass]="{'in': !isCollapsed}" id="navbar-collapse-01">
                <!-- BREADCRUMBS -->
                <ul class="nav navbar-nav navbar-left bcrumb">
                    <li *ngFor="let breadcrumb of breadcrumbs" class="bcrumb-link">
                        <a [routerLink]="[breadcrumb.url]" style="display: inline-block !important;">
                            {{ breadcrumb.label }}
                        </a>
                    </li>
                </ul>

                <!-- USER MENU -->
                <ul class="nav navbar-nav navbar-right">                   
                    <li dropdown class="dropdown">
                        <a dropdownToggle class="dropdown-toggle" data-toggle="dropdown">{{ currentUser.name }}
                            <b class="caret"></b>
                        </a>
                        <span class="dropdown-arrow"></span>
                        <ul class="dropdown-menu" *dropdownMenu>                            
                            <li *ngIf="isClient">
                                <a routerLink="./client/editProfile">
                                    <span class="fui-user"></span>&nbsp;&nbsp;Editar mis datos
                                </a>
                            </li>

                            <li *ngIf="!isClient">
                                <a routerLink="./admin/profile"><span class="fui-gear"></span>&nbsp;&nbsp; Mi perfil</a>
                            </li>
                            <li *ngIf="!isClient">
                                <a routerLink="./admin/accounts"><span class="fui-user"></span>&nbsp;&nbsp; Cuentas Admin.</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a (click)="logout()"><span class="fui-exit"></span>&nbsp;&nbsp; Cerrar Sesión</a>
                            </li>
                        </ul>
                    </li>                    
                </ul>
            </div>
        </nav>
    </div>
</div>