<form [formGroup]="clientForm">
    <div class="form-group row mb-5">
        <div class="col-sm-12">
            <label for="inputLastName">Seleccione el tipo de cliente</label>
            <select name="type" formControlName="type" class="form-control">
                <option [value]="'HOMEUSER'">Particular</option>
                <option [value]="'COMPANY'">Empresa</option>
            </select>
        </div>
    </div>
    <div *ngIf="isCompany">
        <h6 class="text-muted">Información de la empresa</h6>
        <small>Seleccione los campos que quiere que se muestren en la ficha de cliente</small>
        <hr>
    </div>
    <div class="form-group row" *ngIf="isCompany">
        <div class="form-group col-md-4">
            <input type="checkbox" name="positionIsVisible" formControlName="positionIsVisible" checked class="checkbox">
            <label for="inputFirstName">Cargo del Contacto</label>
            <input type="text" name="position" formControlName="position" class="form-control" placeholder="CEO">
        </div>
        <div class="form-group col-md-4">
            <input type="checkbox" name="companyNameIsVisible" 
                formControlName="companyNameIsVisible" checked class="checkbox">
            <label for="inputLastName">Nombre comercial</label>
            <input type="text" name="companyName" 
                formControlName="companyName" class="form-control" name="lastname" placeholder="MiEmpresa, Inc">
        </div>
        <div class="form-group col-md-4">
            <input type="checkbox" name="webIsVisible" formControlName="webIsVisible" checked class="checkbox">
            <label for="web">Web</label>
            <input type="text" name="web" formControlName="web" class="form-control" placeholder="www.miempresa.com">
        </div>
        <div class="form-group col-md-12">
            <input type="checkbox" name="socialMissionIsVisible" formControlName="socialMissionIsVisible" class="checkbox">
            <label for="socialMission">Razón Social</label>
            <textarea name="socialMission" formControlName="socialMission"
                class="form-control" rows="3"></textarea>
        </div>     
    </div>
    <div [ngClass]="{ 'mb-4 mt-5': isCompany }">
        <h6 class="text-muted">
            {{ !isCompany ? 'Información personal' : 'Datos del contacto de la empresa' }}
        </h6>
        <small>Seleccione los campos que quiere que se muestren en la ficha de cliente</small>
        <hr>
    </div>
    <div class="form-group row">
        <div class="form-group" [ngClass]="{ 'col-md-4': !isEdit, 'col-md-6': isEdit }">
            <input type="checkbox" name="firstNameIsVisible" formControlName="firstNameIsVisible" checked class="checkbox">
            <label for="inputFirstName">Nombre *</label>
            <input type="text" name="firstName" 
                formControlName="firstName" class="form-control" placeholder="Juan">
        </div>
        <div class="form-group" [ngClass]="{ 'col-md-4': !isEdit, 'col-md-6': isEdit }">
            <input type="checkbox" name="lastNameIsVisible" formControlName="lastNameIsVisible" checked class="checkbox">
            <label for="inputLastName">Apellidos *</label>
            <input type="text" name="lastName" 
                formControlName="lastName" class="form-control" placeholder="Pérez">
        </div>
        <div class="form-group col-md-4" *ngIf="!isEdit">
            <input type="checkbox" name="registrationDateIsVisible" 
                formControlName="registrationDateIsVisible" checked class="checkbox">
            <label for="position">Fecha de Alta</label>
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="fui-calendar"></span>                        
                </span>
                <input class="form-control"
                    placeholder="dd/MM/yyyy"
                    name="registrationDate" formControlName="registrationDate"
                    bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
            </div>
            <!-- <input type="date" name="registrationDate" 
                formControlName="registrationDate" class="form-control" id="registrationDate" placeholder=""> -->
        </div>
    </div>
    <div class="form-group row">
        <div class="form-group" [ngClass]="{ 'col-md-4': !isEdit, 'col-md-6': isEdit, 'has-error': emailControlInvalid }">
            <input type="checkbox" name="emailIsVisible" formControlName="emailIsVisible" checked class="checkbox">
            <label for="inputEmail4">Email *</label>
            <input type="email" name="email"                 
                formControlName="email" class="form-control" id="inputEmail" placeholder="juan@example.com">
            <div class="help-block" *ngIf="emailControlInvalid">
                Introduzca un correo válido
            </div>
        </div>
        <div class="form-group col-md-6" *ngIf="isEdit">
            <input type="checkbox" name="registrationDateIsVisible" formControlName="registrationDateIsVisible" checked class="checkbox">
            <label for="position">Fecha de Alta</label>
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="fui-calendar"></span>                        
                </span>
                <input class="form-control"
                    placeholder="dd/MM/yyyy"
                    name="registrationDate" formControlName="registrationDate"
                    bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
            </div>
        </div>

        <div formGroupName="passwordGroup" class="form-group col-md-4"
            [ngClass]="{'has-error': passwordsDontMatch}" 
            *ngIf="!isEdit">
            <label for="inputPassword">Contraseña *</label>
            <input type="password" name="password" 
                formControlName="password"
                class="form-control" id="inputPassword" placeholder="Contraseña">
            <div class="help-block" *ngIf="passwordsDontMatch">
                Las contraseñas no coinciden
            </div>
        </div>
        <div formGroupName="passwordGroup" class="form-group col-md-4" 
            [ngClass]="{'has-error': passwordsDontMatch}" 
            *ngIf="!isEdit">
            <label for="inputPasswordRepeat">Repetir Contraseña *</label>
            <input type="password" name="passwordRepeat" 
                formControlName="passwordRepeat"
                class="form-control" id="inputPasswordRepeat" placeholder="Contraseña">
            <div class="help-block" *ngIf="passwordsDontMatch">
                Las contraseñas no coinciden
            </div>
        </div>

    </div>
    <div class="form-group row">
        <div class="form-group col-md-4">
            <input type="checkbox" name="dniIsVisible" formControlName="dniIsVisible" class="checkbox">
            <label for="DNINIF">DNI o NIF</label>
            <input type="text" name="dni" formControlName="dni" 
                class="form-control" id="DNINIF" name="dninif" placeholder="98790989">
        </div>
        <div class="form-group col-md-4">
            <input type="checkbox" name="genderIsVisible" formControlName="genderIsVisible" class="checkbox">
            <label for="inputLastName">Género</label>
            <select class="form-control" name="gender" formControlName="gender">
                <option value="M">Masculino</option>
                <option value="F">Femenino</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <input type="checkbox" name="birthdayIsVisible" formControlName="birthdayIsVisible" class="checkbox">
            <label for="birthday">Cumpleaños</label>
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="fui-calendar"></span>                        
                </span>
                <input class="form-control"
                    placeholder="dd/MM/yyyy"
                    name="birthday" formControlName="birthday"
                    bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
            </div>
            <!-- <input type="date" name="birthday" formControlName="birthday" class="form-control" placeholder=""> -->
        </div>
    </div>
    <div class="form-group row">
        <div class="form-group col-sm-12">
            <input type="checkbox" name="addressIsVisible" formControlName="addressIsVisible" class="checkbox">
            <label for="inputAddress">Dirección</label>
            <input type="text" name="address" formControlName="address" class="form-control" placeholder="1234 Main St">
        </div>
    </div>
    <div class="form-group row">
        <div class="form-group col-md-4">
            <input type="checkbox" name="linkedToIsVisible" formControlName="linkedToIsVisible" class="checkbox">
            <label for="inputAddress">Vinculado a</label>
            <input type="text" name="linkedTo" formControlName="linkedTo" class="form-control" placeholder="Alfredo Martínez">
        </div>
        <div class="form-group col-md-4">
            <input type="checkbox" name="localityIsVisible" formControlName="localityIsVisible" class="checkbox">
            <label for="inputAddress">Localidad</label>
            <input type="text" name="locality" formControlName="locality" class="form-control" placeholder="Barcelona">
        </div>
        <div class="form-group col-md-4">
            <input type="checkbox" name="zipCodeIsVisible" formControlName="zipCodeIsVisible" class="checkbox">
            <label for="zipCode">Código Postal</label>
            <input type="text" name="zipCode" formControlName="zipCode" class="form-control" placeholder="70100">
        </div>
    </div>

    <div class="form-group row">
        <div class="form-group col-md-4">
            <input type="checkbox" name="homePhoneIsVisible" formControlName="homePhoneIsVisible" class="checkbox">
            <label for="homephone">Teléfono (CASA)</label>
            <input type="text" name="homePhone" formControlName="homePhone" class="form-control" placeholder="364597">
        </div>
        <div class="form-group col-md-4">
            <input type="checkbox" name="mobilePhoneIsVisible" formControlName="mobilePhoneIsVisible" class="checkbox">
            <label for="mobilephone">Teléfono (MOVIL)</label>
            <input type="text" name="mobilePhone" formControlName="mobilePhone" class="form-control" placeholder="364597">
        </div>
        <div class="form-group col-md-4">
            <input type="checkbox" name="otherPhoneIsVisible" formControlName="otherPhoneIsVisible" class="checkbox">
            <label for="otherphone">Teléfono (OTRO)</label>
            <input type="text" name="otherPhone" formControlName="otherPhone" class="form-control" placeholder="364597">
        </div>
    </div>

    <cws-car-form [parent]="clientForm" [car]="client?.car"></cws-car-form>

    <div class="col-sm-12 text-center">
        <input type="button" (click)="save(clientForm)" 
            style="margin-right: 20px"
            [disabled]="!clientForm.valid" class="btn btn-inverse" value="Guardar">        
        <a routerLink="/app/admin" class="btn btn-default">Cancelar</a>
    </div>
</form>