<form [formGroup]="clientForm">
    <div class="form-group row mb-5">
        <div class="col">
            <label for="inputLastName">Seleccione el tipo de cliente</label>
            <select name="tipo" formControlName="tipo" class="form-control">
                <option [value]="'HOMEUSER'">Particular</option>
                <option [value]="'COMPANY'">Empresa</option>
            </select>
        </div>
    </div>
    <div *ngIf="isCompany">
        <h6 class="text-muted">Información de la empresa</h6>
        <small>Seleccione los campos que quiere que se muestren en la ficha de cliente</small>
        <hr>
    </div>
    <div class="form-group row" *ngIf="isCompany">
        <div class="form-group col-md-4">
            <input type="checkbox" name="cargo_visible" formControlName="cargo_visible" checked class="checkbox">
            <label for="inputFirstName">Cargo del Contacto</label>
            <input type="text" name="cargo" formControlName="cargo" class="form-control" name="firstname" placeholder="CEO">
        </div>
        <div class="form-group col-md-4">
            <input type="checkbox" name="nombre_comercial_visible" 
                formControlName="nombre_comercial_visible" checked class="checkbox">
            <label for="inputLastName">Nombre comercial</label>
            <input type="text" name="nombre_comercial" 
                formControlName="nombre_comercial" class="form-control" name="lastname" placeholder="MiEmpresa, Inc">
        </div>
        <div class="form-group col-md-4">
            <input type="checkbox" name="web_visible" formControlName="web_visible" checked class="checkbox">
            <label for="web">Web</label>
            <input type="email" name="web" formControlName="web" class="form-control" placeholder="www.miempresa.com">
        </div>
    </div>
    <div [ngClass]="{ 'mb-4 mt-5': isCompany }">
        <h6 class="text-muted">
            {{ !isCompany ? 'Información personal' : 'Datos del contacto de la empresa' }}
        </h6>
        <small>Seleccione los campos que quiere que se muestren en la ficha de cliente</small>
        <hr>
    </div>
    <div class="form-group row">
        <div class="form-group" [ngClass]="{ 'col-md-4': !isEdit, 'col-md-6': isEdit }">
            <input type="checkbox" name="nombre_visible" formControlName="nombre_visible" checked class="checkbox">
            <label for="inputFirstName">Nombre *</label>
            <input type="text" name="nombre" 
                formControlName="nombre" class="form-control" id="inputFirstName" name="firstname" placeholder="Juan">
        </div>
        <div class="form-group" [ngClass]="{ 'col-md-4': !isEdit, 'col-md-6': isEdit }">
            <input type="checkbox" name="apellidos_visible" formControlName="apellidos_visible" checked class="checkbox">
            <label for="inputLastName">Apellidos *</label>
            <input type="text" name="apellidos" 
                formControlName="apellidos" class="form-control" id="inputLastName" name="lastname" placeholder="Pérez">
        </div>
        <div class="form-group col-md-4" *ngIf="!isEdit">
            <input type="checkbox" name="fecha_de_alta_visible" 
                formControlName="fecha_de_alta_visible" checked class="checkbox">
            <label for="position">Fecha de Alta</label>
            <input type="date" name="fecha_de_alta" 
                formControlName="fecha_de_alta" class="form-control" id="registrationDate" placeholder="">
        </div>
    </div>
    <div class="form-group row">
        <div class="form-group" [ngClass]="{ 'col-md-4': !isEdit, 'col-md-6': isEdit }">
            <input type="checkbox" name="correo_visible" formControlName="correo_visible" checked class="checkbox">
            <label for="inputEmail4">Email *</label>
            <input type="email" name="correo" 
                [ngClass]="{ 'is-invalid': emailControlInvalid }"
                formControlName="correo" class="form-control" id="inputEmail" placeholder="juan@example.com">
            <div class="invalid-feedback">
                Introduzca un correo válido
            </div>
        </div>
        <div class="form-group col-md-6" *ngIf="isEdit">
            <input type="checkbox" name="fecha_de_alta_visible" formControlName="fecha_de_alta_visible" checked class="checkbox">
            <label for="position">Fecha de Alta</label>
            <input type="date" name="fecha_de_alta" 
                formControlName="fecha_de_alta" class="form-control" id="registrationDate" placeholder="">
        </div>

        <div formGroupName="passwordGroup" class="form-group col-md-4" *ngIf="!isEdit">
            <label for="inputPassword">Contraseña *</label>
            <input type="password" name="contrasenna" 
                formControlName="contrasenna" [ngClass]="{ 'is-invalid': passwordsDontMatch }"
                class="form-control" id="inputPassword" placeholder="Contraseña">
            <div class="invalid-feedback">
                Las contraseñas no coinciden
            </div>
        </div>
        <div formGroupName="passwordGroup" class="form-group col-md-4" *ngIf="!isEdit">
            <label for="inputPasswordRepeat">Repetir Contraseña *</label>
            <input type="password" name="contrasenna_repeat" 
                formControlName="contrasenna_repeat" [ngClass]="{ 'is-invalid': passwordsDontMatch }"
                class="form-control" id="inputPasswordRepeat" placeholder="Contraseña">
            <div class="invalid-feedback">
                Las contraseñas no coinciden
            </div>
        </div>

    </div>
    <div class="form-group row">
        <div class="form-group col-md-4">
            <input type="checkbox" name="dni_visible" formControlName="dni_visible" class="checkbox">
            <label for="DNINIF">DNI o NIF</label>
            <input type="text" name="dni" formControlName="dni" 
                class="form-control" id="DNINIF" name="dninif" placeholder="98790989">
        </div>
        <div class="form-group col-md-4">
            <input type="checkbox" name="sexo_visible" formControlName="sexo_visible" class="checkbox">
            <label for="inputLastName">Género</label>
            <select class="form-control" name="sexo" formControlName="sexo">
                <option value="M">Masculino</option>
                <option value="F">Femenino</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <input type="checkbox" name="cumpleannos_visible" formControlName="cumpleannos_visible" class="checkbox">
            <label for="birthday">Cumpleaños</label>
            <input type="date" name="cumpleannos" formControlName="cumpleannos" class="form-control" placeholder="">
        </div>
    </div>
    <div class="form-group row">
        <div class="form-group col-12">
            <input type="checkbox" name="direccion_visible" formControlName="direccion_visible" class="checkbox">
            <label for="inputAddress">Dirección</label>
            <input type="text" name="direccion" formControlName="direccion" class="form-control" placeholder="1234 Main St">
        </div>
    </div>
    <div class="form-group row">
        <div class="form-group col-md-4">
            <input type="checkbox" name="vinculado_visible" formControlName="vinculado_visible" class="checkbox">
            <label for="inputAddress">Vinculado a</label>
            <input type="text" name="vinculado" formControlName="vinculado" class="form-control" placeholder="Alfredo Martínez">
        </div>
        <div class="form-group col-md-4">
            <input type="checkbox" name="localidad_visible" formControlName="localidad_visible" class="checkbox">
            <label for="inputAddress">Localidad</label>
            <input type="text" name="localidad" formControlName="localidad" class="form-control" placeholder="Barcelona">
        </div>
        <div class="form-group col-md-4">
            <input type="checkbox" name="codigo_postal_visible" formControlName="codigo_postal_visible" class="checkbox">
            <label for="zipCode">Código Postal</label>
            <input type="text" name="codigo_postal" formControlName="codigo_postal" class="form-control" placeholder="70100">
        </div>
    </div>

    <div class="form-group row">
        <div class="form-group col-md-4">
            <input type="checkbox" name="telef_casa_visible" formControlName="telef_casa_visible" class="checkbox">
            <label for="homephone">Teléfono (CASA)</label>
            <input type="text" name="telef_casa" formControlName="telef_casa" class="form-control" placeholder="364597">
        </div>
        <div class="form-group col-md-4">
            <input type="checkbox" name="telef_movil_visible" formControlName="telef_movil_visible" class="checkbox">
            <label for="mobilephone">Teléfono (MOVIL)</label>
            <input type="text" name="telef_movil" formControlName="telef_movil" class="form-control" placeholder="364597">
        </div>
        <div class="form-group col-md-4">
            <input type="checkbox" name="telef_otro_visible" formControlName="telef_otro_visible" class="checkbox">
            <label for="otherphone">Teléfono (OTRO)</label>
            <input type="text" name="telef_otro" formControlName="telef_otro" class="form-control" placeholder="364597">
        </div>
    </div>

    <cws-car-form [parent]="clientForm" [car]="client?.carro"></cws-car-form>

    <div class="col-12 text-center">
        <input type="button" (click)="save(clientForm)" 
            [disabled]="!clientForm.valid" class="btn btn-primary pb_btn-pill" value="Guardar">
        <a routerLink="/mechanic" class="btn btn-default btn-secondary pb_btn-pill">Cancelar</a>
    </div>
</form>