<div class="container">
    <div class="row mt-sm">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-md-10 text-left">
                </div>
                <div class="col-md-2 text-center">
                    <a routerLink="./client" class="btn btn-danger"><i class="fui-plus"></i></a>&nbsp;&nbsp;&nbsp;
                    <cws-clients-view-selector></cws-clients-view-selector>
                </div>                
                
            </div>
            <hr>
            <cws-client-tile-view              
                [active]="(currentViewType$ | async) === 'TILES'"
                [clients]="paginatedClients$ | async"
                (onCheckClient)="checkClient($event)"
                (onDeleteRequest)="deleteClient($event)"></cws-client-tile-view>
            <cws-client-table-view                 
                [active]="(currentViewType$ | async) === 'TABLE'"
                [clients]="paginatedClients$ | async"
                (onCheckClient)="checkClient($event)"
                (onDeleteRequest)="deleteClient($event)"></cws-client-table-view>

            <cws-loading-box *ngIf="isLoading$ | async"></cws-loading-box>

            <div class="row mt-md">
                <div class="col-sm-12 text-center">
                    <pagination 
                        [ngModel]="activePage$ | async"
                        [nextText]="'Siguiente'"
                        [previousText]="'Anterior'"
                        [totalItems]="totalClients$ | async" 
                        [itemsPerPage]="pageSize$ | async"
                        (pageChanged)="pageChanged($event)"></pagination>
                </div>
            </div>
        </div>
    </div>
</div>