<div class="container">
    <div class="row mt-sm">
        <!-- <div class="col-sm-3">
            <cws-filtered-search></cws-filtered-search>
        </div> -->
        <!-- <div class="col-sm-8 col-sm-offset-1"> -->
        <div class="col-sm-12">
            <div class="row">
                <div class="col-md-10 text-left">
                    <!-- <a routerLink="./client" class="btn btn-inverse">Agregar</a> -->
                </div>
                <div class="col-md-2 text-center">
                    <a routerLink="./client" class="btn btn-primary"><i class="fui-plus"></i></a>&nbsp;&nbsp;&nbsp;
                    <cws-clients-view-selector></cws-clients-view-selector>
                </div>                
                
            </div>
            <hr>
            <cws-client-tile-view              
                [active]="(currentViewType$ | async) === 'TILES'"
                [clients]="clients$ | async"
                (onCheckClient)="checkClient($event)"
                (onDeleteRequest)="deleteClient($event)"></cws-client-tile-view>
            <cws-client-table-view                 
                [active]="(currentViewType$ | async) === 'TABLE'"
                [clients]="clients$ | async"
                (onCheckClient)="checkClient($event)"
                (onDeleteRequest)="deleteClient($event)"></cws-client-table-view>

            <cws-loading-box *ngIf="isLoading$ | async"></cws-loading-box>
        </div>
    </div>
</div>