<div class="row mt-sm">
    <div class="col-md-9">
        <h4 class="text-xs-center">Nuevo Mantenimiento
            <!-- <br>
            <cws-car-name [car]=""></cws-car-name> -->
        </h4>
    </div>
</div>
<hr>
<div class="row">
    <div class="form" [formGroup]="maintenanceForm">
        <div class="form-row col-md-5">
            <!-- <label for="">
                <strong>Cliente</strong>
            </label>
            <select class="form-control" name="">
                <option value="1">Cliente 1</option>
                <option value="2">Cliente 2</option>
            </select> --> 
            
            <cws-maintenance-category-selector 
                [value]="maintenanceCategory"
                formControlName="category"
                [showDefault]="false"
                [hasLabel]="true" [label]="'Categoría del Servicio'"
                [categories]="maintenanceCategories"></cws-maintenance-category-selector>
        </div>
        <div class="form-row col-md-4">
            <label for="">
                <strong>Kilometraje</strong>
            </label>
            <input type="text" class="form-control" placeholder="10000"
                name="mileage" formControlName="mileage">
        </div>
        <div class="form-row col-md-3">            
            <label for=""><strong>Fecha</strong></label>    

            <div class="input-group">
                <span class="input-group-addon">
                    <span class="fui-calendar"></span>                        
                </span>
                <input class="form-control"
                    placeholder="dd/MM/yyyy"
                    name="date" formControlName="date"
                    bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
            </div>
        </div>
    </div>
</div>
<!-- {{ maintenanceForm.value | json }} -->
<hr>
<button class="btn btn-primary" 
    (click)="save(maintenanceForm)"
    [disabled]="!maintenanceForm.valid">
    Guardar
</button>
