<div class="container">
    <div class="row mt-sm">
        <div class="col-md-3">
            <h6>Para Hoy</h6>
            <hr>
            <div class="notify notify-error">
                <p>Cambiar el Filtro de Aceite del Motor</p>
                <small>
                    <strong>hace 5 días</strong>
                </small>
            </div>
            <div class="notify notify-error">
                <p>Cambiar el Filtro de Aire</p>
                <small>
                    <strong>hace 2 días</strong>
                </small>
            </div>
            <div class="notify notify-warning">
                <p>Cambiar la correa de distribución</p>
                <small>
                    <strong>en 3 días</strong>
                </small>
            </div>
            <div class="mt-sm">
                <a href="#" class="btn btn-inverse btn-block">Ver Todas</a>
            </div>
        </div>
        <div class="col-md-8 col-md-offset-1 mt-xs">
            <div class="row demo-tiles mt-sm">
                <div class="col-md-4">
                    <div class="tile">
                        <h1 class="text-lg">10</h1>
                        <h3 class="tile-title fui-volume"></h3>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="tile">
                        <h1 class="text-lg">9</h1>
                        <h3 class="tile-title fui-calendar"></h3>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="tile">
                        <h1 class="text-lg">3</h1>
                        <h3 class="tile-title fui-heart"></h3>
                    </div>
                </div>
            </div>
            <div class="row mt-sm">
                <div class="col-md-12">
                    <h6>Últimos Mantenimientos</h6>
                    <hr>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>FECHA</th>
                                <th>OPERACIÓN</th>
                                <th>CLIENTE</th>
                                <th>VEHÍCULO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>28-10-2018</td>
                                <td>Cambiar Correa de Distribución</td>
                                <td>Lucas Lopez</td>
                                <td>1234FDG</td>
                            </tr>
                            <tr>
                                <td>28-12-2017</td>
                                <td>Cambiar filtro de aceite del motor</td>
                                <td>Inter Global LTD</td>
                                <td>3425HDS</td>
                            </tr>
                            <tr>
                                <td>06-10-2017</td>
                                <td>Cambiar filtro de aire</td>
                                <td>Inter Global LTD</td>
                                <td>7345FDS</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>