<!-- <div class="row">
    <div class="col-md-6"><h4>Próximos Mantenimientos</h4></div>
    <div class="col-md-6 text-right" style="margin-top: 18px" *ngIf="userIsAdmin">
        <a class="btn btn-inverse">Agregar mantenimiento</a>
        <a [routerLink]="['../../addMaintenance', car.id]" class="btn btn-inverse">Agregar mantenimiento</a>
    </div>
</div> -->
<div class="row mt-xsx">
    <div class="col-md-8">
        <h4 class="text-xs-center">Próximos Mantenimientos
            <br>
            <small class="small">{{ car.brand | uppercase }} {{car.model | uppercase}} ({{car.plateNumber | uppercase}})</small>
        </h4>
    </div>
    <div class="col-md-3 col-md-offset-1 text-center" *ngIf="userIsAdmin">
        <a href="mant2.html" class="btn btn-danger">Añadir Mantenimiento</a>
        <!-- <a [routerLink]="['../../addMaintenance', car.id]" class="btn btn-inverse">Agregar mantenimiento</a> -->
    </div>
</div>
<hr>
<div class="mt-xs table-responsive">
    <table class="table">
    <thead>
        <tr>
        <th>Fecha</th>
        <th>Categoría</th>
        <th>Kilometraje</th>
        <th>Vence</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let maintenance of nextMaintenances">
        <td>{{ (maintenance.date | date:'dd/MM/yyyy') || '---' }}</td>
        <td>{{ maintenance.category.name }}</td>
        <td>{{ maintenance.mileage }}</td>
        <td>{{ maintenance.date ? timeLapse(maintenance) : '---' }}</td>
        </tr>
    </tbody>
    </table>
</div>