<div class="card text-center">
    
    <!-- FIX FOR BOOTSTRAP AUTO-FOCUSING FIRST BUTTON -->
    <input type="button" style="height: 0 !important; opacity: 0">
    
    <div class="card-header">
        {{ data.title || defaultTitle }}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ data.message || defaultMessage }}</h5>
        <p class="card-text" *ngIf="data.supportMessage">{{ data.supportMessage }}</p>
    </div>
    <div class="card-footer">        
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancelar</button>
            <button type="button" class="btn btn-danger" (click)="onAccept()">Eliminar</button>
        </div>
    </div>
</div>