<div class="row demo-tiles" [hidden]="!active">
    
    <div class="col-sm-3" *ngFor="let client of clients">
        <a [routerLink]="['./details', client.id]">
            <div class="tile">

                <!-- <img src="assets/img/tile/ribbon.png" alt="Compas" class="tile-hot-ribbon"> -->
                <!-- <button type="button" (click)="requestDelete(client)" class="tile-delete-btn btn btn-danger" aria-label="Close">
                    <span class="fui-trash"></span>
                </button> -->

                <img *ngIf="isCompany(client)" 
                    src="assets/img/icons/company.png" alt="Compañía" class="tile-image big-illustration img-circle">
                <img *ngIf="!isCompany(client)" 
                    src="assets/img/icons/user.png" alt="Cliente" class="tile-image big-illustration img-circle">
                <h3 class="tile-title">{{ isCompany(client) ? client.companyName : fullname(client) }}</h3>
                <small class="badge text-uppercase">{{ isCompany(client) ? 'Compañía' : 'Particular' }}</small>
                <div class="mt-xsx">
                    <a [href]="'mailto:'+client.email" class="">{{ client.email }}</a>
                </div>
            </div>
        </a>
    </div>
    
</div>