@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);#wrapper {
  min-height: calc(100vh - 245px);
}

.__cst_content {
  position: relative;
  top: 56px;
  padding: 50px 0;
  max-width: 90%;
}

.nav-bg {
  height: 10vh !important;
}

.__cst_link-btn {
  cursor: pointer;
  color: #1d82ff !important;
}

.pb_cover_v3 a:hover,
.pb_xl_py_cover a:hover {
  border-bottom-color: transparent !important;
}

@media screen and (max-width: 767px) {
  .pb_cover,
  .pb_cover_v1,
  .pb_cover_v2,
  .pb_cover_v3,
  .pb_cover_v4 {
    padding: 1rem !important;
  }
}

@media screen and (max-width: 991px) {
  .pb_navbar .navbar-nav {
    background: transparent;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .pb_navbar .nav-link {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}

