<div class="container-fluid" style="background: url(./assets/img/bg.jpeg); background-repeat: no-repeat; background-size: cover;">
    
    <div class="v-centered-container">
        <div class="panel panel-login">
            <div class="panel-body">
                <h4 class="text-center">
                    <img src="./assets/img/logo2.png" style="max-width: 168px;" alt="">
                </h4>
                <form [formGroup]="recoveryForm" >
                    <div *ngIf="!!!(passwordRecoveryMessage$ | async)">
                        <div class="form-row" [ngClass]="{'has-error': !!(passwordRecoveryError$ | async)}" >
                            <label for="">Introduzca su email</label>
                            <input type="email" class="form-control" placeholder="juan@example.com"
                                name="email" formControlName="email">
                                <div class="help-block" *ngIf="!!(passwordRecoveryError$ | async)">
                                    {{ passwordRecoveryError$ | async }}
                                </div>
                        </div>
                        <div class="form-row mt-xs">
                           
                            <cws-button-with-loader 
                                [buttonClass]="'danger'"
                                [isLoading]="authLoading$ | async"
                                [buttonLabel]="'Enviar un correo'" 
                                (clicked)="requestRecoveryEmail(recoveryForm)"></cws-button-with-loader>

                        </div>
                    </div>
                    <div class="text-center form-row" *ngIf="!!(passwordRecoveryMessage$ | async)">
                        Se ha enviado un email a {{ emailControl.value }} con un enlace para que pueda restablecer su contraseña
                    </div>
                    <div class="form-row text-center">
                        <a routerLink="/home" class="small text-success">Volver al login</a>
                    </div>
                </form>
                
            </div>  
        </div>
    </div>
              
</div>