<div class="container-fluid" style="background: url(./assets/img/bg.jpeg); background-repeat: no-repeat; background-size: cover;">
    
    <div class="login-container">
        <div class="panel panel-login">
            <div class="panel-body">
                <h4 class="text-center">
                    <img src="./assets/img/logo2.png" style="max-width: 168px;" alt="">
                </h4>
                <form [formGroup]="recoveryForm">                    
                    <div class="form-row" [ngClass]="{'has-error': !!(passwordRecoveryError$ | async)}" >
                        <label for="">Introduzca su email</label>
                        <input type="email" class="form-control" placeholder="juan@example.com"
                            name="email" formControlName="email">
                            <div class="help-block" *ngIf="!!(passwordRecoveryError$ | async)">
                                No existe un usuario con ese email.
                            </div>
                    </div>
                    <div class="form-row mt-xs">
                        <button type="submit" (click)="requestRecoveryEmail(recoveryForm)" 
                            class="btn btn-block btn-lg btn-success"
                            [ngClass]="{ 'position-relative': (authLoading$ | async), 'position-static': !(authLoading$ | async) }"
                            [disabled]="authLoading$ | async">
                            <div id="pb_loader" 
                                class="show"
                                [ngClass]="{ 'show-btn-spinner': (authLoading$ | async), 'hide-btn-spinner': !(authLoading$ | async) }">
                                <svg class="circular" width="48px" height="48px">
                                    <circle class="path-bg" cx="24" cy="24" r="15" fill="none" stroke-width="3" stroke="#eeeeee"/>
                                    <circle class="path" cx="24" cy="24" r="15" fill="none" stroke-width="3" stroke-miterlimit="10" stroke="#2c3e50"/>
                                </svg>
                            </div>
                            Enviar un correo
                        </button>
                    </div>
                    <div class="form-row text-center">
                        <a routerLink="/home" class="small text-success">Volver al login</a>
                    </div>
                    </form>
            </div>  
        </div>
    </div>
              
</div>