<div class="btn-group">
    <button (click)="changeViewType(viewTypes.Tiles)" 
        class="btn btn-default" 
        [ngClass]="{ 'btn-inverse': (currentViewType$ | async) === viewTypes.Tiles }">
        <i class="fui-list-large-thumbnails"></i>
    </button>
    <button (click)="changeViewType(viewTypes.Table)" 
        class="btn btn-default" 
        [ngClass]="{ 'btn-inverse': (currentViewType$ | async) === viewTypes.Table }">
        <i class="fui-list-columned"></i>
    </button>
</div>