<h4>Información adicional</h4>
<hr>
<div class="row mt-xs">    
    <div class="col-md-12">
        <strong>Dirección</strong>
        <p>{{ client.address || '---' }}</p>
    </div>
    <div class="col-md-6">
        <strong>Localidad</strong>
        <p>{{ client.locality || '---' }}</p>
    </div>
    <div class="col-md-6">
        <strong>Código Postal</strong>
        <p>{{ client.zipCode || '---' }}</p>
    </div>
    <div class="col-md-6">
        <strong>Género</strong>
        <p>{{ client.gender === 'M' ? 'Masculino' : 'Femenino' }}</p>
    </div>
    <div class="col-md-6">
        <strong>Cumpleaños</strong>
        <p>{{ (client.birthday | date:'dd/MM/yyyy') || '---' }}</p>
    </div>
</div>
<div class="row">
    <hr>
    <div class="col-md-6">
        <strong>Telefono (Casa)</strong>
        <p>{{ client.homePhone || '---' }}</p>
    </div>
    <div class="col-md-6">
        <strong>Telefono (Movil)</strong>
        <p>{{ client.mobilePhone || '---' }}</p>
    </div>
    <div class="col-md-6">
        <strong>Telefono (Otro)</strong>
        <p>{{ client.otherPhone || '---' }}</p>
    </div>    
</div>