<h4>Recomendaciones de Mantenimiento</h4>
<hr>
<div class="table-responsive mt-xs">
  <table class="table">
    <thead>
      <tr>
        <th>Operación</th>
        <th>Parámetros</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let category of maintenanceCategories">
        <tr>
            <td rowspan="2">{{ category.name }}</td>
            <td>
                cuando alcance los 
                <strong>{{ category.mileagePeriodicity }} km</strong>
            </td>
        </tr>
        <tr>
            <td>
                cuando transcurra{{ category.timePeriodicity > 1 ? 'n' : '' }} 
                <strong>
                    {{ category.timePeriodicity > 1 ? category.timePeriodicity + ' años' : category.timePeriodicity + ' año' }}
                </strong> desde el último
            </td>
        </tr>
      </ng-container>      
    </tbody>
  </table>
</div>