<div class="container">

    <!-- <div class="row mt-sm">
        <div class="col-sm-3 text-center">
            <cws-client-info-pane [client]="client$ | async"></cws-client-info-pane>
        </div>
        <div class="col-sm-8 col-sm-offset-1">

            <cws-tabs [hasFeaturedButton]="true" [featuredButtonText]="'Editar'">
                <cws-tab [title]="'Información'" [icon]="'fui-info-circle'" [active]="true">

                    <cws-profile-main-info-tab [client]="client$ | async"></cws-profile-main-info-tab>

                </cws-tab>
                <cws-tab [title]="'Contactos'" [icon]="'fui-link'">

                    <cws-profile-additional-info-tab [client]="client$ | async"></cws-profile-additional-info-tab>

                </cws-tab>
            </cws-tabs>

        </div>
    </div> -->

    <div class="row mt-sm">
        <div class="col-sm-3 text-center">
          
            <cws-car-info-pane [client]="client$ | async"></cws-car-info-pane>
    
        </div>
        <div class="col-sm-8 col-sm-offset-1">
    
          <cws-tabs>
            <cws-tab [title]="'Ficha Técnica'" [icon]="'fui-document'" [active]="true">
              
              <cws-client-data-sheet [car]="(client$ | async).car" [userIsAdmin]="true"></cws-client-data-sheet>
            
            </cws-tab>        
            <cws-tab [title]="'Próximos Mantenimientos'" [icon]="'fui-calendar'">
              
              <cws-next-maintenances 
                [userIsAdmin]="true" 
                [car]="(client$ | async).car"
                [maintenances]="clientMaintenances$ | async"></cws-next-maintenances>
    
            </cws-tab>
            <cws-tab [title]="'Historial'" [icon]="'fui-folder'"> 
              
              <cws-maintenance-history
                [userIsAdmin]="true"
                (onDeleteRequest)="deleteMaintenance($event)"
                [maintenanceCategories]="maintenanceCategories$ | async"
                [maintenanceHistory]="clientMaintenances$ | async"></cws-maintenance-history>
    
            </cws-tab>
            <cws-tab [title]="'Recomendaciones'" [icon]="'fui-heart'">
              
              <cws-maintenance-recommends 
                [maintenanceCategories]="maintenanceCategories$ | async"></cws-maintenance-recommends>
    
            </cws-tab>
          </cws-tabs>
    
        </div>
      </div>

</div>