<div class="row mt-xsx">
    <div class="col-md-6">
        <h4 class="text-xs-center">
            Historial {{ currentFilter ? ' de ' + currentFilter.name : 'General' }}
            <br>
            <cws-car-name [car]="car"></cws-car-name>
        </h4>
    </div>
    <div class="col-md-6 text-center">
        <cws-maintenance-category-selector 
            [value]="currentFilter"
            [categories]="maintenanceCategories" 
            (onSelectedCategory)="applyFilter($event)">
        </cws-maintenance-category-selector>
    </div>
</div>
<hr>
<div class="mt-xs table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Operación</th>
                <th>Kilometraje</th>
                <th *ngIf="userIsAdmin" ></th>
            </tr>
        </thead>
        <tbody>
            
            <tr *ngIf="maintenanceHistory && maintenanceHistory.length === 0">
                <td colspan="3" class="text-muted text-center">
                    No tiene mantenimientos
                </td>
            </tr>
            <tr *ngFor="let maintenance of maintenanceHistory" 
                [hidden]="filterMaintenance(maintenance)">
                <td>{{ (maintenance.date | date:'dd/MM/yyyy') || '---' }}</td>
                <td>{{ maintenance.category?.name }}</td>
                <td>{{ maintenance.mileage || '---' }}</td>
                <td *ngIf="userIsAdmin">
                    <a [routerLink]="[ '/app/admin/editMaintenance', maintenance.id ]" 
                        class="text-primary">
                        <span class="fui-new"></span>
                    </a> |                    
                    <a (click)="requestDelete(maintenance)" class="text-danger">
                        <span class="fui-trash"></span>
                    </a>
                </td>
            </tr>

        </tbody>
    </table>
</div>