<div class="container">
    <div class="row mt-sm">

        <div class="col-sm-12" style="max-width: 1200px;">

            <!-- {{ !isEdit ? 'Crear nuevo cliente' : 'Editando los datos de ' + `${client.nombre} ${client.apellidos}` }} -->
            
            
            <h4>Los campos marcados con * son requeridos</h4>
            <div class="card-body">

                <cws-client-form [client]="client$ | async" (onCreate)="create($event)"></cws-client-form>

            </div>
        </div>

    </div>
</div>