<h4>Mi perfil</h4>
<hr>
<div class="form" [formGroup]="userForm">
    <div class="row">
        <div class="form-group col-md-6">
            <label for="">
                <strong>Nombre</strong>
            </label>
            <input type="text" class="form-control" placeholder="Juan"
                name="firstName" formControlName="firstName">
        </div>
        <div class="form-group col-md-6">
            <label for="">
                <strong>Apellidos</strong>
            </label>
            <input type="text" class="form-control" placeholder="Pérez"
                name="lastName" formControlName="lastName">
        </div>
    </div>
    <div class="row">        
        <div class="form-group col-md-12">
            <label for=""><strong>Email</strong></label>                    
            <input type="email" class="form-control" placeholder="juan@example.com"
                name="email" formControlName="email">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="form-group col-md-12">
            <label>
                <input type="checkbox" (change)="togglePasswordChange()"> ¿Cambiar contraseña?
            </label>                            
        </div>
        <div [formGroup]="passwordGroup" class="form-group col-md-6" *ngIf="wantsPasswordChange">
            <label for=""><strong>Contraseña</strong></label>                    
            <input type="password" class="form-control"
                name="password" formControlName="password">
        </div>
        <div [formGroup]="passwordGroup" class="form-group col-md-6" *ngIf="wantsPasswordChange">
            <label for=""><strong>Repetir contraseña</strong></label>                    
            <input type="password" class="form-control"
                name="passwordRepeat" formControlName="passwordRepeat">
        </div>
    </div>
</div>
<hr>
<button class="btn btn-primary" 
    style="margin-right: 10px"
    (click)="save(userForm)"
    [disabled]="!userForm.valid">
    Guardar
</button>
<a routerLink="/app/admin" class="btn btn-default">Cancelar</a>