<div class="tile tile-a">
    <a [routerLink]="mainLink.url" [queryParams]="mainLink.queryParams" *ngIf="hasMainLink && hasIcon">
        <img [src]="'assets/img/icons/all/' + iconName + '.png'" [alt]="iconName" class="tile-image">
    </a>
    <h3 class="tile-title">{{ mainText }}</h3>
    <small class="text-uppercase" *ngIf="hasSupportText">{{ supportText }}</small>
    
    <img *ngIf="hasIcon && !hasMainLink" [src]="'assets/img/icons/all/' + iconName + '.png'" [alt]="iconName" class="tile-image">
</div>
<a [routerLink]="supportLink.url" [queryParams]="supportLink.queryParams" *ngIf="hasSupportLink">
    <div class="tile-label">
        <small class="">{{ supportLink.text }}</small>
    </div>
</a>
