<h6>Filtros</h6>
<hr>
<div class="" action="index.html" method="post">
    <div class="form-row">
        <label for="">Nombre y Apellidos</label>
        <input class="form-control" placeholder="by any text" type="text" name="" value="">
    </div>
    <div class="form-row">
        <label for="">Matrícula</label>
        <input class="form-control" placeholder="by any text" type="text" name="" value="">
    </div>
    <div class="form-row mt-xsx">
        <label for="">Tipo de Cliente</label>
        <select name="" class="form-control">
            <option value="">Todos</option>
            <option value="">Compañía</option>
            <option value="">Persona</option>
        </select>
    </div>
    <hr>
    <div class="form-row mt-xs text-right">
        <div class="btn-group">
            <button type="button" name="button" class="btn btn-default">BUSCAR POR CRITERIOS
            </button>
            <button type="button" name="button" class="btn btn-danger">
                <span class="fui-cross"></span>
            </button>
        </div>
    </div>
</div>
<hr>
<div class="text-center mb-md">
    <a class="btn btn-link" href="#">BÚSQUEDA AVANZADA</a>
</div>