/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

a {
    cursor: pointer;
}

.cws_block-scroll {
    overflow: hidden !important;
}

/* Ngx-Bootstraps override datepicker color to use theme color */
.bs-datepicker-head {
    background-color: #2e375f !important;
}


/* Adjust snackbar color */ 
.mat-snack-bar-container {
    background: #2e375f; /* Match header color */
    color: #fff;
    border: 1px solid rgba(255,255,255, 0.1); /* Make it visible when on top of header */
}

.content-body {
    min-height: calc(100vh - 196px)
}

/* .custom-panel .flex-panel {
    height: 90%;
} */

.v-centered-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: 100vh;
    width: 70%;
    max-width: 500px;
    margin: 0 auto;
}