<div class="row demo-tiles">
    <div class="col-md-4">
        <cws-dashboard-panel
            [mainText]="(car$ | async)?.plateNumber"
            [hasSupportText]="true"
            [supportText]="(car$ | async)?.brand + ' ' + (car$ | async)?.model"
            [hasSupportLink]="true"
            [supportLinkText]="'Ficha Técnica'"
            [supportLinkUrl]="'./dataSheet'"></cws-dashboard-panel>
    </div>
    <div class="col-md-4">
        <cws-dashboard-panel
            [mainText]="'Próximos'"
            [hasSupportText]="true"
            [supportText]="'Mantenimientos'"
            [hasSupportLink]="true"
            [supportLinkText]="'Ver'"
            [supportLinkUrl]="'./nextMaintenances'"></cws-dashboard-panel>
    </div>
    <div class="col-md-4">
        <cws-dashboard-panel
            [mainText]="'Historial'"
            [hasSupportText]="true"
            [supportText]="'General'"
            [hasSupportLink]="true"
            [supportLinkText]="'Ver'"
            [supportLinkUrl]="'./maintenanceHistory'"></cws-dashboard-panel>
    </div>
</div>
<hr>
<h4 class="text-center">Historiales Comunes</h4>
<div class="row demo-tiles mt-xs">

    <div class="col-md-3 custom-panel" *ngFor="let category of commonCategories">
        <cws-dashboard-panel
            [mainText]="category.name"
            [hasSupportLink]="currentUserIsAdmin$ | async"
            [hasIcon]="true"
            [iconName]="category.iconName"
            [hasMainLink]="true"
            [mainLinkUrl]="'./maintenanceHistory?filter='+category.id"
            [supportLinkText]="'Añadir Mantenimiento'"
            [supportLinkUrl]="'../../../../addMaintenance/' + (car$ | async)?.id"></cws-dashboard-panel>
            <br>       
    </div>

    
    
</div>