<div class="row mt-xs">
    <div class="col-md-12" *ngIf="isCompany">
        <strong>Nombre y Apellidos del contacto</strong>
        <p>{{ fullname }}</p>
    </div>
    <div class="col-md-6" *ngIf="isCompany">
        <strong>Cargo Laboral</strong>
        <p>{{ client.position || '---' }}</p>
    </div>
    <div class="col-md-6" *ngIf="isCompany">
        <strong>Correo Electrónico</strong>
        <p>{{ client.email }}</p>
    </div>    
    <div class="col-md-6" *ngIf="client.dniIsVisible || userIsAdmin">
        <strong>DNI / NIF</strong>
        <p>{{ client.dni || '---' }}</p>
    </div>
    <div class="col-md-6" *ngIf="client.linkedTo && client.linkedToIsVisible || userIsAdmin">
        <strong>Vinculado a</strong>
        <p>{{ client.linkedTo || '---' }}</p>
    </div>    
    <div class="col-md-12" *ngIf="client.socialMissionIsVisible || userIsAdmin">
        <strong>Razón Social</strong>
        <p>{{ client.socialMission || '---' }}</p>
    </div>
    <div class="col-md-12" *ngIf="client.observationsIsVisible || userIsAdmin">
        <strong>Observaciones</strong>
        <p>{{ client.observations || '---' }}</p>
    </div>
</div>