/* .collapse, .collapse.in {
    display: block !important;
    transition: all .25s linear;
  }
  
  .collapse {
   opacity: 0;
   height: 0;
  }
  
  .collapse.in {
    opacity: 1;
    height: 100%;
  } */