<!-- <div class="panel panel-login">
  <div class="panel-body">
      <h4 class="text-center">Credenciales de Acceso</h4>
      <form [formGroup]="loginForm">
          <div class="form-row">
              <label for="">Usuario</label>
              <input type="text" class="form-control" placeholder="Correo o matrícula del coche"
                name="username" formControlName="username">
          </div>
          <div class="form-row">
              <label for="">Contraseña</label>
              <input type="password" class="form-control" placeholder="Contraseña"
                name="password" formControlName="password">
          </div>
          <div class="form-row mt-xs">
              <button type="submit" (click)="login(loginForm)" 
                class="btn btn-block btn-lg btn-success"
                [ngClass]="{ 'position-relative': (authLoading$ | async), 'position-static': !(authLoading$ | async) }"
                [disabled]="authLoading$ | async">
                <div id="pb_loader" 
                    class="show"
                    [ngClass]="{ 'show-btn-spinner': (authLoading$ | async), 'hide-btn-spinner': !(authLoading$ | async) }">
                    <svg class="circular" width="48px" height="48px">
                        <circle class="path-bg" cx="24" cy="24" r="15" fill="none" stroke-width="3" stroke="#eeeeee"/>
                        <circle class="path" cx="24" cy="24" r="15" fill="none" stroke-width="3" stroke-miterlimit="10" stroke="#2c3e50"/>
                    </svg>
                </div>
                Entrar
              </button>
          </div>
          <div class="form-row text-center">
              <a href="clients.html" class="small text-success">¿Perdiste tu contraseña?</a>
          </div>
        </form>
  </div>  
</div> -->


<div class="container-fluid" style="background: url(assets/img/bg.jpeg); background-repeat: no-repeat; background-size: cover;">
    
    <div class="login-container">
        <div class="panel panel-login">
            <div class="panel-body">
                <h4 class="text-center">Credenciales de Acceso</h4>
                <form [formGroup]="loginForm">
                    <div class="form-row">
                        <label for="">Usuario</label>
                        <input type="text" class="form-control" placeholder="Correo o matrícula del coche"
                            name="username" formControlName="username">
                    </div>
                    <div class="form-row">
                        <label for="">Contraseña</label>
                        <input type="password" class="form-control" placeholder="Contraseña"
                            name="password" formControlName="password">
                    </div>
                    <div class="form-row mt-xs">
                        <button type="submit" (click)="login(loginForm)" 
                            class="btn btn-block btn-lg btn-success"
                            [ngClass]="{ 'position-relative': (authLoading$ | async), 'position-static': !(authLoading$ | async) }"
                            [disabled]="authLoading$ | async">
                            <div id="pb_loader" 
                                class="show"
                                [ngClass]="{ 'show-btn-spinner': (authLoading$ | async), 'hide-btn-spinner': !(authLoading$ | async) }">
                                <svg class="circular" width="48px" height="48px">
                                    <circle class="path-bg" cx="24" cy="24" r="15" fill="none" stroke-width="3" stroke="#eeeeee"/>
                                    <circle class="path" cx="24" cy="24" r="15" fill="none" stroke-width="3" stroke-miterlimit="10" stroke="#2c3e50"/>
                                </svg>
                            </div>
                            Entrar
                        </button>
                    </div>
                    <div class="form-row text-center">
                        <a href="clients.html" class="small text-success">¿Perdiste tu contraseña?</a>
                    </div>
                    </form>
            </div>  
        </div>
    </div>
              
</div>