<div class="container-fluid" style="background: url(./assets/img/bg.jpeg); background-repeat: no-repeat; background-size: cover;">
    
    <div class="v-centered-container">
        <div class="panel panel-login">
            <div class="panel-body">
                <h4 class="text-center">
                    <img src="./assets/img/logo2.png" style="max-width: 168px;" alt="">
                </h4>
                <form [formGroup]="loginForm">
                    <div class="form-row">
                        <label for="">Usuario</label>
                        <input type="text" class="form-control" placeholder="Usuario"
                            name="username" formControlName="username">
                    </div>
                    <div class="form-row">
                        <label for="">Contraseña</label>
                        <input type="password" class="form-control" placeholder="Contraseña"
                            name="password" formControlName="password">
                    </div>
                    <div class="form-row text-center text-danger" *ngIf="!!(authError$ | async).message">
                        <small>{{ (authError$ | async).message }}</small>
                    </div>
                    <div class="form-row mt-xs">
                        
                        <cws-button-with-loader 
                            [buttonClass]="'danger'"
                            [isLoading]="authLoading$ | async"
                            [buttonLabel]="'Entrar'" 
                            (clicked)="login(loginForm)"></cws-button-with-loader>

                    </div>
                    <div class="form-row text-center">
                        <a routerLink="/password/recovery" class="small text-success">¿Perdiste tu contraseña?</a>
                    </div>
                    </form>
            </div>  
        </div>
    </div>
              
</div>