<div class="panel panel-login">
  <div class="panel-body">
      <h4 class="text-center">Credenciales de Acceso</h4>
      <form [formGroup]="loginForm">
          <div class="form-row">
              <label for="">Correo Electrónico</label>
              <input type="text" class="form-control" placeholder="juan@ejemplo.com"
                name="email" formControlName="email">
          </div>
          <div class="form-row">
              <label for="">Contraseña</label>
              <input type="password" class="form-control" placeholder="Contraseña"
                name="password" formControlName="password">
          </div>
          <div class="form-row mt-xs">
              <button type="submit" (click)="login(loginForm)" class="btn btn-block btn-lg btn-success">Entrar
              </button>
          </div>
          <div class="form-row text-center">
              <a href="clients.html" class="small text-success">¿Perdiste tu contraseña?</a>
          </div>
        </form>
  </div>
</div>
