<h4>Ficha Técnica</h4>
<hr>
<div class="row mt-xs">
    <div class="col-md-3" *ngIf="fieldIsVisible('model')">
        <strong>Modelo</strong>
        <p>{{ car.model }}</p>
    </div>
    <div class="col-md-3" *ngIf="fieldIsVisible('vinNumber')">
        <strong>Número de bastidor (VIN)</strong>
        <p>{{ car.vinNumber || '---' }}</p>
    </div>
    <div class="col-md-3" *ngIf="fieldIsVisible('variant')">
        <strong>Variante</strong>
        <p>{{ car.variant || '---' }}</p>
    </div>
    <div class="col-md-3" *ngIf="fieldIsVisible('type')">
        <strong>Tipo</strong>
        <p>{{ car.type || '---' }}</p>
    </div>
</div>
<div class="row mt-xs">
    <div class="col-md-3" *ngIf="fieldIsVisible('version')">
        <strong>Versión</strong>
        <p>{{ car.version || '---' }}</p>
    </div>
    <div class="col-md-3" *ngIf="fieldIsVisible('engineBrand')">
        <strong>Marca del motor</strong>
        <p>{{ car.engineBrand || '---' }}</p>
    </div>
    <div class="col-md-3" *ngIf="fieldIsVisible('engineCode')">
        <strong>Código del motor</strong>
        <p>{{ car.engineCode || '---' }}</p>
    </div>
    <div class="col-md-3" *ngIf="fieldIsVisible('tires')">
        <strong>Neumáticos</strong>
        <p>{{ car.tires || '---' }}</p>
    </div>
</div>
<div class="row mt-xs">
    <div class="col-md-3" *ngIf="fieldIsVisible('cilinderAmount')">
        <strong>Número de cilindros</strong>
        <p>{{ car.cilinderAmount || '---' }}</p>
    </div>
    <div class="col-md-3" *ngIf="fieldIsVisible('cilinderVolume')">
        <strong>Cilindrada</strong>
        <p>{{ car.cilinderVolume || '---' }}</p>
    </div>
    <div class="col-md-3" *ngIf="fieldIsVisible('potencyKW')">
        <strong>Potencia KW</strong>
        <p>{{ car.potencyKW || '---' }}</p>
    </div>
    <div class="col-md-3" *ngIf="fieldIsVisible('potencyCV')">
        <strong>Potencia CV</strong>
        <p>{{ car.potencyCV || '---' }}</p>
    </div>
</div>
<div class="row mt-xs">
    <div class="col-md-3" *ngIf="fieldIsVisible('emisionLevel')">
        <strong>Nivel de emisiones</strong>
        <p>{{ car.emisionLevel || '---' }}</p>
    </div>
    <div class="col-md-3" *ngIf="fieldIsVisible('fuel')">
        <strong>Combustible</strong>
        <p>{{ car.fuel || '---' }}</p>
    </div>
    <div class="col-md-3" *ngIf="fieldIsVisible('radioCode')">
        <strong>Código de radio</strong>
        <p>{{ car.radioCode || '---' }}</p>
    </div>
    <div class="col-md-3" *ngIf="fieldIsVisible('keyCode')">
        <strong>Código de llaves</strong>
        <p>{{ car.keyCode || '---' }}</p>
    </div>    
</div>
<div class="row mt-xs">
    <div class="col-md-12" *ngIf="fieldIsVisible('observations')">
        <strong>Observaciones</strong>
        <p>{{ car.observations || '---' }}</p>
    </div>
    <div class="col-md-12" *ngIf="fieldIsVisible('maintenanceReset')">
        <strong>Reset Mantenimiento</strong>
        <p>{{ car.maintenanceReset || '---' }}</p>
    </div>
</div>